.hero-image-short {
    height: 400px;
}

.hero-image {
    background-color: #9da5b2;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.hero-image {
    max-height: 1280px;
    position: relative;
}

.hero-image-fill:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(33,34,36,.3);
}

.hero-image-container-middle-aligned {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-image-container-center-aligned {
    text-align: center;
}

.hero-image-container {
    max-width: 1188px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 16px;
    position: relative;
}

.hero-image .heading-title {
    color: #fff;
}

.heading-title {
    margin-top: 0;
    margin-bottom: 0;
}

.hero-sub-title {
    color: #fff;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 32px;
}

.hero-image{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557445765/lifestyle-hero_x0evdp.jpg');
}

.grid-container {
    max-width: 1188px;
    margin-left: auto;
    margin-right: auto;
}

.car-cards__list {
    display: flex;
    flex-wrap: wrap;
}

.list-unstyled {
    list-style: none;
}

.card-generic__vertical-split-info {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-generic__vertical-split-info .card-generic__pricing {
    margin-bottom: 0;
}

.price--no-wrap, .text--no-wrap, .value {
    white-space: nowrap;
}

.card-generic__savings {
    color: #2ecc71;
    font-weight: 600;
    margin-bottom: 8px;
}

.card-generic__ctas {
    margin-top: auto;
}

.btn-one {
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    color: #fff;
    font-weight: 700;
    transition: background-color .15s;
    min-width: 180px;
    height: 100%;
    /* text-decoration: none; */
  }

  

.btn-full-width {
    width: 100%;
}

.card-generic__ctas .btn-one {
    margin-top: 16px;
    font-size: 25px;
}

.btn.btn--disabled, .btn.btn-secondary, .btn.btn-transparent, .btn:disabled {
    padding: 11px 31px;
}

.btn-secondary {
    border: 1px solid rgba(33,34,36,.15);
    background-color: #fff;
    color: #212224;
}

.card-generic__media-text {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(33,34,36,.3);
    bottom: 0;
}

.card-generic__media-actions, .card-generic__media-badges, .card-generic__media-text {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px;
}

.card-generic__media-container--with-overlay:before {
    position: absolute;
    background-image: linear-gradient(transparent,#212224);
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 40%;
    opacity: .6;
    z-index: 1;
}

.card-generic__media {
    border-top-left-radius: 3px;
    height: 300px !important;
    border-top-right-radius: 3px;
    transition: transform 1s cubic-bezier(.165,.84,.44,1);
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zoe{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575854/zoeweb-001_p6cdg1.jpg')
}

.leon{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557573164/2075487984590093811ddfd_ij5ief.jpg');
}

.juke{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557573522/122485_Nissan_Juke_0-e1506005784260_xkjjup.jpg'); 
}

.qashqai{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575545/Nissan-QQ_2017-UK-edition_050_figpd4.jpg '); 
}

.micra{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575551/Micra-driving-front_cqzkn8.jpg '); 
}

.astra{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575548/Vauxhall-Astra-Thumbnail_thds86.jpg '); 
}

.ibiza{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575555/ibiza_b9eedq.jpg '); 
}

.eclass{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575450/Mercedes-E-Class-overview-1_0_wxvvj3.jpg '); 
}

.tucson{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575447/Tucson-driving-front_mf2snl.jpg '); 
}

.xtrail{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575444/Nissan_X-Trail_001_0_nb1c2m.jpg'); 
}

.peugeot{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575443/peageout_drv9rd.jpg '); 
}

.civic{
    background-image: url('https://res.cloudinary.com/okoyecb/image/upload/v1557575441/honda-civic.jpg'); 
}

.card-generic__media-subtitle, .card-generic__media-title {
    font-weight: 600;
}

.card-generic__media-container {
    padding-top: 70%;
    position: relative;
    height: 0% !important;
}

.card-generic__body {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
}

.card-generic__section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
}





@media screen and (min-width: 651px){
    .card-generic__heading, .card-generic__option, .card-generic__pricing-from, .card-generic__subtitle {
        font-size: 16px;
        line-height: 24px;
        color: #666b76;
    }
}

@media screen and (min-width: 1025px){
    h5 {
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (min-width: 651px){
    .grid-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(3n+1) {
        clear: left;
    }
}

@media screen and (min-width: 1025px){
    h1 {
        font-size: 56px;
        line-height: 60px;
    }
}

@media screen and (min-width: 651px){
    .hero-image-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(2n) {
        margin-right: 2.35765%;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(odd) {
        clear: none;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(3n+1) {
        clear: left;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(2n) {
        margin-right: 2.35765%;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(odd) {
        clear: none;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(3n+1) {
        clear: left;
    }
    
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(2n) {
        margin-right: 2.35765%;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1025px){
    .car-cards__list-item:nth-child(odd) {
        clear: none;
    }
}

@media screen and (min-width: 651px){
    .card-generic__savings {
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1025px){
    .card-generic__media-subtitle {
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (min-width: 651px){
    .btn-one {
        font-size: 20px;
        line-height: 32px;
    }
}












